@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");

p {
    display: none;
}

html,body {
    border: 1px;
    font-family: 'Xanh Mono', monospace;
    background-image: url("../images/Flower\ photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

h1 {
    color: #1c0ea0;
    text-align: center;
    
}

form {
    border: 1px solid rgba(213, 202, 189, 0.5);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background-color: rgba(213, 202, 189, 0.5);
    
}


#submitButton {
    background-color: #1032a1;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #0bbac0;
    border-radius: 10px;
    
}

form input{
    padding: 10px;
}




label {
    width: 200px;
    display: inline-block;
    text-align: right;
}


ul {
    color: #320544;
    padding: 10px;
}